
<header class="fixed-top">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar navbg">

            <div class="container">

                <!-- Navbar brand -->
             

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto smooth-scroll menuflex">
                        <li class="nav-item">
                            <a class="nav-link" href="../home">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../news">CHUẨN ĐOÁN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../fdimg">HÌNH ẢNH</a>
                        </li>
                        <li class="nav-item">
                            {{!-- <a class="nav-link" href="../contact">LIÊN HỆ</a> --}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tracuuthuoc">TRA CỨU THUỐC</a>
                        </li>
                    </ul>
                    <!-- Links -->

                    <!-- Social Icon  -->
                    
                </div>
                <!-- Collapsible content -->

            </div>

        </nav>
        <!--/.Navbar-->

      

</header>
    <!--Main Navigation-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-6 font-weight-bold white-text pt-5 mb-2">Chào mừng đến với FISHDOCTER</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">FISHDOCTER là một hệ thống giúp bạn chuẩn đoán nhanh 
                        và chính xác về bệnh trên các loài cá</h4>
                    {{!-- <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button> --}}

                </div>

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
<main class="mt-5">
    <div class="container">

    <div class="row">
        <div class="thongtin">
            
        </div>
    </div>
   

    <!--Section: GIOITHIEU-->
    <section id="gallery">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center">GIỚI THIỆU</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner z-depth-1-half" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/img/intro1.jpg"
                                alt="First slide">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/img/intro3.jpg"
                                alt="Second slide">
                        </div>
                        <!--/Second slide-->
                        
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Đôi nét về FISHDOCTER </strong></h6>
                </a>
                <p>FISHDOCTER là một hệ thống chuyên gia chuẩn đoán bệnh hại trên các loài cá,
                    dữ liệu sử dụng cho hệ thống được thu thập trên các cuốn sách đã được xuất bản 
                    đáng tin cậy.
                
                </p>

                
                <a class="btn btn-primary btn-md">Read more</a>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: GIOITHIEU-->

    <hr class="my-5">

    

    <!--Section: MUCTIEU-->
    <section id="gallery">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center">MỤC TIÊU</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Mục tiêu của chúng tôi là thành công của bạn </strong></h6>
                </a>
                
                <p>
                    Mục tiêu của chúng tôi là giúp mọi người có thể dễ dàng tiếp cận, sử dụng hệ thống
                    để tìm hiểu về các loại bệnh trên cá nhanh nhất. Đồng thời đưa ra các biện pháp phòng
                    chống bệnh hại để mọi người có thể tiết kiệm thời gian và chi phí. 
                </p>

                <a class="btn btn-primary btn-md">Read more</a>

            </div>
            <!--Grid column-->

                <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Carousel Wrapper-->
                <div id="carousel-example-1zz" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1zz" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1zz" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1zz" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner z-depth-1-half" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/img/intro1.jpg"
                                alt="First slide">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/img/intro3.jpg"
                                alt="Second slide">
                        </div>
                        <!--/Second slide-->
                        
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1zz" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1zz" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: MUCTIEU-->
    <br>
    <br>
    <br>




    </div>
</main>
<!--Main layout-->




    <!-- Footer -->
<footer class="page-footer fter font-small unique-color-dark">
      <!-- Footer Elements -->

    


  <div class="container lienhe" style="text-align: center;">
    <p> Email: huongvq11@gmail.com</p>
    
    <p> Số điện thoại: 0389147071</p>
  </div>

</footer>
<!-- Footer -->

